@import "../../style/variable.css";
.faq-item {
    margin-bottom: 1rem;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1rem;
    transition: background-color 0.3s;
  }
  
  .faq-item:hover {
    background-color: var(--faqItem-backGround);
  }
  
  .question {
    font-weight: bold;
  }
  
  .answer {
    margin-top: 0.5rem;
    color:var(--third-color);
  }
  
  .open {
    background-color: var(--faqItem-backGround);
  }
  